<!DOCTYPE html>
<html>
    <head>
        <title>Parcels</title>
        <meta charset='utf-8'>
    </head>
    <body>
        <h2>Parcel One</h2>
        <ul>
            <li>Parcel Cost: @Model.GetPrice()</li>
            <li>Parcel Weight: @Model.GetWeight()</li>
            <li>Parcel Length: @Model.GetLength()</li>
            <li>Parcel Width: @Model.GetWidth()</li>
            <li>Parcel Height: @Model.GetHeight()</li>
        </ul>
    </body>
</html>
